/* HEADER */
header {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 25%;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* LINKS DEL HEADER */
.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

/* LINK ACTIVO */
.nav-link.active {
  background: #eaf5c8;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Configuracion CSS footer */
.footer {
  width: 100%;
  background: #f4f4f4;
  padding: 1.5rem 2rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-email {
  font-size: 0.95rem;
  color: #000;
  margin: 0;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer-icons a {
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  transition: opacity 0.2s;
}

.footer-icons a:hover {
  opacity: 0.6;
}